@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Fira+Sans&family=Inclusive+Sans&family=Oswald:wght@500&family=Poppins:wght@500&family=Rubik:wght@300;400;500;700;800;900&family=Ubuntu+Mono&family=Ubuntu:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Fira+Sans&family=Inclusive+Sans&family=Oswald:wght@500&family=Poppins:wght@500&family=Rubik:wght@300;400;500;700;800;900&family=Source+Code+Pro:wght@300&family=Ubuntu+Mono&display=swap');
* {
    margin: 0;
    padding: 0;
}

.sidebar{
   background-color: rgb(178, 176, 176);
    position: absolute;
    font-family: 'Fira Sans' , sans-serif;
    height: 100vh;
    transition: transform 0.3s ease-in;
}

.sidebar nav {
    padding: 45px;
}

.sidebar nav li{
   list-style: none;
   font-size: 30px;
   padding: 33px 0;
}

.sidebar nav li a {
    text-decoration: none;
    color: rgb(45, 40, 40);
}

.main {
    /*background-color: yellow;*/
    width: 300vw;
}

.container {
    display: flex;
    
}

.infocontainer {
  /*background-color: hsl(190, 60%, 45%);*/
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}

.devInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
    
}

.hello{
    font-size: 25px;
    font-family: 'Fira Sans' , sans-serif;
    margin-left: 210px;
}

.name{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Fira Sans' , sans-serif;
    margin-left: 210px;
}

.moreabout {
    font-size: 22px;
    margin-top: 23px;
    font-family: 'Fira Sans' , sans-serif;
    margin-left: 10px;
}

.buttons {
    margin-top: 34px;
    margin-right: 50px;
}

.btn {
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: hsl(0, 50%, 10%);
    font-weight: bold;
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;
}

.btn-sm {
    font-size: 10px;
    padding: 4px 13px;
    margin: 10px 0;
}

.btn :hover{
    background-color: white;
    color: hsl(0, 50%, 10%);
}

.devPic img{
    height: 58vh;
}

.contactform {
    font-family: 'Fira Sans' , sans-serif;
    padding: 0 34px;
    padding-top: 144px;
 
}

.contactform h1{
    font-family: 'Source Code Pro', monospace;
    padding: 12px 0;
    font-weight: 900;
   
}

.contactform  form div {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactform  form div input {
    width: 26vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}

#emailHelp {
    font-size: 11px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;
}

#form-check {
    flex-direction: row;
}

#form-check input {
    width: 24px;
    margin: 3px 0;
}

.blogItem {
    margin: 20px;
    font-family: 'Fira Sans' , sans-serif;
}

h1 {
    margin: 23px;
    font-family: 'Fira Sans' , sans-serif;
}

p {
    font-family: 'Source Code Pro', monospace;
}

.intro h2{
    font-family: 'Fira Sans' , sans-serif;
    margin: 12px;
}

.intro p{
    font-family: 'Fira Sans' , sans-serif;
    margin: 12px;
}

.skillcontainer {
    padding: 12px;
}

.skillItem {
    display: flex;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
}

.skill {
    height: 6px;
    width: 265px;
    background-color: red;
    border: 2px solid black;
}

.hundred {
    width: 265px;
    background-color: red;
}

.fifty {
    width: 125px;
    background-color: lightblue;
}

.t5 {
    width: 75px;
    background-color: greenyellow;
}

.sidebarGo {
    transform: translate(-443px, 0px);
    position: absolute;
}
.hamburger {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.cross {
    margin-left: 150px;
}

@media (max-width: 11700){
    *{
       /* background-color: rgb(230, 146, 146);*/
    }

    .devPic {
        display: none;
    }

    /*.sidebar{
        transform: translate(-443px , 0px);
        position: absolute;*/
    }



  